@charset "utf-8";
/* CSS Document */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f3f3f3;
}

* {
    box-sizing: border-box;
}

td,
th,
p {
    font-size: 0.875rem;
    color: #333;
    line-height: 1.5;
}

ul,
li {
    font-size: 0.8125rem;
    color: #333;
}

a {
    color: #6e43fc;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #6e43fc;
    text-decoration: none;
}

a, img {
    border: none 0px #fff;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

#maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
}

#footer {
    background-color: #111;
    color: #fff;
    font-size: 0.6875rem;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
    width: 100%;
    text-align: center;
    background: #6d43fc;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a644fd 0%, #6d43fc 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a644fd 0%, #6d43fc 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a644fd 0%, #6d43fc 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a644fd', endColorstr='#6d43fc', GradientType=0);
    /* IE6-9 */
}

nav .logo {
    height: 55px;
    padding: 5px 0;
}

nav h1 {
    margin: auto;
}

nav h1 a {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 200;
    letter-spacing: 5px;
    text-transform: uppercase;
}



/*skip to main content*/

.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}

a.skip:active,
a.skip:focus,
a.skip:hover {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
    color: #fff;
}



#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 1.0625rem;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */

#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
    height: 400px;
    width: 100%;
    background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
    width: 100%;
    background-color: #6e43fc;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.filter-options h2 {
    color: white;
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1;
}

.filter-options label {
    color: white;
}

.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-size: 0.9375rem;
    height: 35px;
    letter-spacing: 0;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 100%;
}

#lbl-toggle-filter {
    display: block;
    background: url(../img/tools-and-utensils.svg) no-repeat;
    background-position: center right;
    background-size: contain;
    color: #fff;
}


/* ====================== Restaurant Listing ====================== */

#restaurants-list {
    display: flex;
    flex-wrap: wrap;
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 30px 15px 60px;
    text-align: center;
}

#restaurants-list li {
    background-color: #fff;
    border: 1px solid #a543fc6e;
    border-radius: 5px;
    margin-bottom: 15px;
    min-height: 380px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
    min-height: 248px;
    min-width: 100%;
}

#restaurants-list li article {
    padding: 0 30px 25px;

}

#restaurants-list li a {
    color: #6e43fc;
    font-size: 1.125rem;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
    display: block;
}

#restaurants-list p {
    margin: 0;
    font-size: 0.875rem;
}

#restaurants-list li a.more {
    border-bottom: 3px solid #eee;
    color: #fff;
    display: inline-block;
    font-size: 0.8125rem;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    background: #6d43fc;
    background: -moz-linear-gradient(top, #a644fd 0%, #6d43fc 100%);
    background: -webkit-linear-gradient(top, #a644fd 0%, #6d43fc 100%);
    background: linear-gradient(to bottom, #a644fd 0%, #6d43fc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a644fd', endColorstr='#6d43fc', GradientType=0);
}

/* ====================== Restaurant Details ====================== */

.inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 40vh;
    /* position: fixed; */
    right: 0;
    /* top: 80px; */
    width: 100%;
}

.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

.inside #footer {
    width: 100%;
}

#restaurant-name {
    color: #f18200;
    font-size: 1.625rem;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
}

#restaurant-img {

}

#restaurant-address {
    font-size: 1rem;
    margin: 10px 0px;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
}

#restaurant-container,
#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 15px;
}

#reviews-container {
    padding: 15px;
}

#reviews-container h2 {
    color: #f58500;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
}

#reviews-list {
    margin: 0;
    padding: 0;
}

#reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0 20px 20px;
    position: relative;
}

#reviews-list li p {
    margin: 0 0 10px;
}

#restaurant-hours td {
    color: #666;
}





/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    #restaurants-list li {
        width: calc( 50% - 20px);
        margin-right: 10px;
        margin-left: 10px;
    }

}



/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    #maincontent {
        width: 75%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    #map-container{
        width: 65%;
    }
    #filter-container{
        width: 35%;
    }
    .filter-options{
            height: 100%;
    }
    #restaurants-list{
            padding: 30px 0px 60px;
    margin: 0 -10px;
    }
    #restaurants-list li {
        width: calc( 25% - 20px);
        margin-right: 10px;
        margin-left: 10px;
    }
    .filter-control-container {
        display: flex;
        flex-wrap: wrap;
    }
    .filter-control-container label {
        width: 100%;
        margin-top: 20px;
    }

    .filter-control-container select {
        width: 100%;
        margin-bottom: 20px;
    }


}
